streamlit
streamlit_chat
pymongo
langchain==0.0.350
langchain_google_genai
pypdf
streamlit_lottie
openai
langchain_groq
langchain-community==0.0.20
datetime
PyPDF2
sentence-transformers
faiss-cpu
beautifulsoup4
