streamlit==1.55.0
streamlit_chat==0.1.1
pymongo==4.16.0
langchain==1.2.10
langchain-community==0.4.1
langchain_google_genai==4.2.1
google-generativeai==0.8.6
langchain_groq
pypdf=6.7.5
streamlit_lottie
openai==2.26.0
datetime==6.0
PyPDF2==3.0.1
sentence-transformers==5.2.3
faiss-cpu==1.13.2
beautifulsoup4==4.14.3
