streamlit
streamlit_chat
pymongo

langchain==0.0.350
langchain-community==0.0.19

langchain_google_genai==1.0.1
langchain_groq==0.0.1

pypdf
PyPDF2
streamlit_lottie
openai

sentence-transformers
faiss-cpu
beautifulsoup4

numpy==1.26.4
tenacity==8.2.3
packaging==23.2
protobuf==4.25.8
